* {
    font-family: "Monserrat", sans-serif;
    font-size: 14px;
}
body {
    background-color: #e3dddd;
    /* background: linear-gradient(270deg, lightslategrey, silver); */
}

#main_calculator {
    width: 50%;
    height: 70vh;
    border: 2px solid black;
    margin: 10% auto;
    background-color: whitesmoke;
}

.main_nav {
    height: 8vh;
}

.main_nav ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    height: 8vh;
}

.main_nav ul > li {
    display: table-cell;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    padding-top: 2vh;
}

.main_nav ul > li:hover {
    background-color: whitesmoke;
    color: #000000;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.choice__info {
    border: 2px solid red;
    background-color: #e3dddd;
    width: 50%;
    height: 15vh;
    margin: 20vh auto;
}

.choice__info p {
    width: 80%;
    position: relative;
    margin: 12% auto;
    text-align: center;
    font-size: 14px;
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.length_part, .azimuth_part {
    width: 100%;
    height: 62vh;
    position: relative;
    background-color: lightgrey; 
    display: none;
}

.length_part h2,
.azimuth_part h2 {
    margin: 0 auto;
    position: relative;
    top: 5vh;
    width: 50%;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.calculations {
    position: relative;
    height: 60%;
    top: 10vh;
    left: 2vw;
}

.calculations form input {
    border: 1px solid black;
    width: 20%;
}

.calculations_last_point,
.total_length {
    margin-top: 30px;
}
.first_point,
.last_point,
.total_length_p {
    font-weight: 700;
    text-decoration: underline;
}

.total_length {
    display: flex;
    width: 40%;
}

.length_calculate,
.azimuth_calculate {
    margin-top: 13px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.unity {
    margin-top: 16px;
    margin-left: 10px;
}

.calculations_last_point button {
    left: 65%;
    margin-top: 12px;
    position: relative;
    display: block;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    font-weight: 600;
}

.total_azimuth {
    display: flex;
    width: 40%;
}

.azimuth_info {
    color: red;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 50%;
    margin-top: 40px;
}



